<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Request Data</title>
  </head>
  <body>
    <h1>Node.js + Express</h1>
    <p>Learn Request Data</p>
    <div>Next..<a href="/?next=chapter12&amp;user=123">here</a></div>
  </body>
</html>
