<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Sample</title>
    <link rel="stylesheet" href="/public/third_party/bootstrap/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h1>サンプル</h1>
      <p>Sample Web App with Node.js + Express</p>
    </div>
  </body>
</html>
