<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
  </head>
  <body>
    <h1>Hello World</h1>
    <p>This is Hello World</p>
    <h3>History</h3>
    <p>Hello World</p>
    <h3>Access</h3>
    <p>Hello World</p>
    <h3>Message</h3>
    <p><%= message %></p>
  </body>
</html>

