<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Hello</title>
  </head>
  <body>
    <h1>Hello</h1>
    <p>World</p>
    <form method="POST" action="/">
      <div>
        <input type="text" name="frm_text" id="frm_text" />
        <input type="checkbox" id="frm_chkbx" name="frm_chkbx" />
      </div>
      <div>
        <input type="submit" />
      </div>
    </form>
  </body>
</html>
