<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Posted Body</title>
  </head>
  <body>
    <h1>Posted Body</h1>
    <div>
      <p>frm_text: <%= frm_text %></p>
      <p>frm_chkbx: <%= frm_chkbx %></p>
    </div>
  </body>
</html>
